//importing required sass files

body {
    margin: 0;
    padding: 0;
    font-family: $raleway-regular;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: $color_links;
}
ul.menu {
    list-style: none;
    display: flex;
}
