
// Global color Variables.

$white: #FFFFFF;
$black: #000;
$color_links: #207DCC;


// GLobal Font Families.

$raleway-medium: 'Raleway-Medium';
$raleway-bold: 'Raleway-Bold';
$raleway-thin: 'Raleway-Thin';
$raleway-regular: 'Raleway-Regular';
$raleway-light: 'Raleway-Light';

$default-font-path: "../fonts" !default;
