@import "config";

//font faces declarations
@font-face {
  font-family: 'Raleway-Bold';
  src:  url('#{$default-font-path}/Raleway-Bold.ttf') format('truetype');
  src:  url('#{$default-font-path}/Raleway-Bold.otf') format('opentype'),
    url('#{$default-font-path}/Raleway-Bold.woff') format('woff'),
    url('#{$default-font-path}/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src:  url('#{$default-font-path}/Raleway-Light.ttf') format('truetype');
  src:  url('#{$default-font-path}/Raleway-Light.otf') format('opentype'),
    url('#{$default-font-path}/Raleway-Light.woff') format('woff'),
    url('#{$default-font-path}/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src:  url('#{$default-font-path}/Raleway-Medium.ttf') format('truetype');
  src:  url('#{$default-font-path}/Raleway-Medium.otf') format('opentype'),
    url('#{$default-font-path}/Raleway-Medium.woff') format('woff'),
    url('#{$default-font-path}/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src:  url('#{$default-font-path}/Raleway-Regular.ttf') format('truetype');
  src:  url('#{$default-font-path}/Raleway-Regular.otf') format('opentype'),
    url('#{$default-font-path}/Raleway-Regular.woff') format('woff'),
    url('#{$default-font-path}/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src:  url('#{$default-font-path}/Raleway-Thin.ttf') format('truetype');
  src:  url('#{$default-font-path}/Raleway-Thin.otf') format('opentype'),
    url('#{$default-font-path}/Raleway-Thin.woff') format('woff'),
    url('#{$default-font-path}/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell-regular';
  src:  url('#{$default-font-path}/rockwell-regular.ttf') format('truetype');
  src:  url('#{$default-font-path}/rockwell-regular.otf') format('opentype'),
    url('#{$default-font-path}/rockwell-regular.woff') format('woff'),
    url('#{$default-font-path}/rockwell-regular.svg#Raleway-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell-bold';
  src:  url('#{$default-font-path}/rockwell-bold.ttf') format('truetype');
  src:  url('#{$default-font-path}/rockwell-bold.otf') format('opentype'),
    url('#{$default-font-path}/rockwell-bold.woff') format('woff'),
    url('#{$default-font-path}/rockwell-bold.svg#Raleway-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
