[id*="aboutthecamp"] {
    position: relative;
    padding: 8em 0 8em 5em;
    color: $white;
    background: url("../images/about_bg.png") scroll 0 0 transparent;
    box-sizing: border-box;
    background-size: cover;
    h2 {
        margin-top: 0;
        font-family: $rockwell-regular;
        font-size: 34px;
        margin-bottom: 0;
    }
    strong {
        font-family: $raleway-regular;
        font-size: 13px;
    }
    p {
        max-width: 550px;
        font-size: 13px;
        font-family: $raleway-thin;
        line-height: 1.4;
    }
    a {
        border: 1px solid $white;
        color: $white;
        text-transform: uppercase;
        font-family: $raleway-bold;
        margin-top: 1em;
        letter-spacing: 0.6px;
        display: inline-block;
        padding: 0.6em 18px;
        border-radius: 5px;
        font-size: 11px;
    }
    img {
        max-width: 340px;
        position: absolute;
        top: -70px;
        right: 0;
    }
}
